/*    -- ANIMATIONS --    */

@keyframes zombiewalk {
  1% {
    transform: scale(5%);
  }
  100% {
    transform: scale(200%);
  }
}

body {
  margin: 0;
  background-image: linear-gradient(black, red, yellow);
}

#screen {
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(img/Cave2.jpeg);
  background-size: cover;
}

#game_elements {
  grid-area: 1/1;
}

#diamond_container {
  width: 5%;
  position: absolute;
  top: 10vw;
  left: 10vw;
}
#diamond_sprite {
  width: 100%;
}

#zombie1_container {
  width: 10%;
  position: absolute;
  top: 29vw;
  left: 57vw;
  animation-name: zombiewalk;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-delay: 0s;
}
#zombie1_sprite {
  width: 100%;
}
#zombie2_container {
  width: 10%;
  position: absolute;
  top: 29vw;
  left: 57vw;
  animation-name: zombiewalk;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-delay: 3s;
}
#zombie2_sprite {
  width: 100%;
}
#zombie3_container {
  width: 10%;
  position: absolute;
  top: 29vw;
  left: 57vw;
  animation-name: zombiewalk;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-delay: 6s;
}
#zombie3_sprite {
  width: 100%;
}

#game_ui {
  grid-area: 1/1;
  grid-row: 1;
}

#score_board_container {
  width: 5%;
  position: absolute;
  top: 58vw;
  right: 5vw;
}
#score_gem {
  width: 100%;
}

#life_board_container {
  width: 21%;
  position: absolute;
  top: 54vw;
  left: 41vw;
}
#hp {
  width: 100%;
}

#timer_container {
  width: 11%;
  position: absolute;
  top: 58vw;
  left: 5vw;
}
#timer {
  width: 100%;
}

/*
#start {}
#game_over {}
*/
