body {
  margin: 0;
}

#screen {
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
}

#game_background {
  grid-area: 1 / 1;
  /*
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
  */

  background-image: url(img/Cave.jpg);
  background-size: cover;
}

#game_elements {
  grid-area: 1/1;
}

#diamond_container {
  width: 10%;
  position: absolute;
  top: 50vw;
  left: 10vw;
}
#diamond_sprite {
  width: 100%;
}

/*
#jumber_container {
  position: absolute;
  top: 10vw;
  left: 50vw;
}
#jumber_sprite {
  width: 100%;
}
*/

#zombie1_container {
  width: 10%;
  position: absolute;
  top: 20vw;
  left: 30vw;
}
#zombie1_sprite {
  width: 100%;
}
#zombie2_container {
  width: 10%;
  position: absolute;
  top: 30vw;
  left: 50vw;
}
#zombie2_sprite {
  width: 100%;
}
#zombie3_container {
  width: 10%;
  position: absolute;
  top: 30vw;
  left: 80vw;
}
#zombie3_sprite {
  width: 100%;
}

/*
#demon_container {
  position: absolute;
  top: 40vw;
  left: 50vw;
}
#demon_sprite {
  width: 100%;
}
*/

/*
#game_ui {}
#score_board {}
#life_board {}
#start {}
#game_over {}
*/
